@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

h1, h2, h3, h4{
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-decoration: underline gold 8px;
}

p {
    text-align: center;
    font-family: 'Lora', serif;
}

ul {
    font-family: 'Lora', serif;
}

#ikon {
    list-style-image: url("../../public/assets/images/record.png");
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
    scroll-behavior: smooth;
}

.floating-label {
    font-family: 'Lora', serif;
}

.floating-label .form-control {
    font-family: 'Lora', serif;
}

