@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

h1, h2, h3, h4{
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-decoration: underline gold 8px;
}

p {
    text-align: center;
    font-family: 'Lora', serif;
}

ul {
    font-family: 'Lora', serif;
}

#ikon {
    list-style: none;
    padding-left: 0;
}

#ikon li {
    background-image: url("../../public/assets/images/record.png");
    background-size: 25px; 
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    margin-top: 14px;
    font-size: large;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
    scroll-behavior: smooth;
}

.floating-label {
    font-family: 'Lora', serif;
}

.floating-label .form-control {
    font-family: 'Lora', serif;
}

body.dark .inputForm {
    background-color: rgba(211, 238, 253, 0.78);
}

body.light .inputForm {
    background-color: #a7d5fb;
}

