body.light, body.light .navbar .dropdown-menu {
    background-color: #f8f9fa;
    color: #212529;
}

body.dark, body.dark .navbar .dropdown-menu {
    background-color: #212529;
    color: #f8f9fa;
}

body.light .navbar .dropdown-item {
    background-color: #f8f9fa;
    color: #212529;
}

body.dark .navbar .dropdown-item {
    background-color: #212529;
    color: #f8f9fa;
}

.navbar .dropdown-menu {
    transition: background-color 0.3s ease;
}

body.light .navbar .dropdown-item:hover, body.dark .navbar .dropdown-item:hover {
    color: #46789a;
}

body.light .user, body.light .forumUser {
    background-color: #ffbd59;
}

body.dark .user, body.dark .forumUser {
    background-color: #263557;
}

body.light .ai, body.light .forumAnotherUser {
    background-color: rgb(165, 163, 163);
}

body.dark .ai, body.dark .forumAnotherUser {
    background-color: grey;
}

body.dark .floating-label {
    color: black;
}