body.light .splash {
    background-image: url("../../public/assets/images/mode/text_light.png");
    aspect-ratio: 1.1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
}

body.dark .splash {
    background-image: url("../../public/assets/images/mode/text_dark.png");
    aspect-ratio: 1.1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
}